body{
    background-color: rgb(251, 251, 251);   
    font-family: Arial, sans-serif;
    margin: 0px;
    background-image: url("./Images/IMG_1667_2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-size: 16px; 
    
}
main{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
     font-family: Arial, sans-serif;
     background-color: rgba(238, 233, 233, 0.641);
}
h1{
        text-align: center;
    font-size: 36px;
    color: #0a0a0a;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;  
}
h2{
    text-align: left;
    font-size: 24px;
    color: #0a0a0a;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    text-indent: 15px;
}
p{
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
    font-family: Arial, sans-serif;
    text-align: justify;
    text-indent: 05px;
    background-color: rgba(238, 233, 233, 0.641);
    padding: 10px;
    border-radius: 5px;
    
}
.navbar ul{
    list-style-type: none;
    margin: 0px;
    padding: px;
    position: center;
    width: 100%;
    overflow: auto
}
.navbar a{
    color: white;
    display: block;
    text-align: center;
    padding: 7.5px;
    display: block;
    text-decoration: none;
    border: 1px solid #ccc;
    margin: 5.55px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase   ;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}
.navbar a:hover{
    background-color: rgb(41, 41, 41);
}
.navbar li{
    float: left
}
.home-bg{
    background-image: url("./Images/IMG_1667_2.jpeg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
}
.badger-bg{
    background-image: url("./Images/IMG_1667_2.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.Panton-bg{
    background-image: url("./Images/IMG_1667_2.jpeg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    background-attachment: fixed;
}
aside{
    background-color: rgba(238, 233, 233, 0.641);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
